:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}
/* 让中间部分可滚动，需要计算高度，页面高度减去头部和尾部 */
.main {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  height: calc(100% - 3rem);
}
